.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav.open {
    width: 250px;
}
.options{
    margin-top: 30px;
}
.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidenav a img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.sidenav a span {
    display: none;
    margin-left: 10px;
}

.sidenav.open a span {
    display: inline-block;
}

.sidenav a:hover {
    color: #4CAF50;
}

.sidenav a img.icon:hover, .sidenav a.active img.icon {
    filter: invert(45%) sepia(77%) saturate(440%) hue-rotate(83deg) brightness(93%) contrast(88%);
}

.line {
    border-bottom: 1px solid #ccc;
    margin: 10px 10px;
    width: 60%;
}

.sidenav.open .line {
    width: 80%;
}

.toggle-btn {
    position: fixed;
    top: 10px;
    left: 14px;
    z-index: 2;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.toggle-btn:hover {
    background-color: #45a049;
}

.bottom-links {
    margin-top: auto;
    padding-bottom: 20px;
}
